<html>
<head>
	<style>
		body {
			background-color: limegreen;
		}
	</style>
</head>
	<body>
		<p> Choose a file name from the list of files  </p>
		<%for (var result in data){%>
			  <li><%=result%>:<%=data[result]%></li>
 	</body>
</html>